<div class="container">
	<div class="card" style="margin-top: 25%;">
		<div class="row" style="text-align: center; margin: 5%;">
            <div class="mb-3 w-100">
                This is the Main page! <br>
                Please click on the link you need to visit:
                <br>
                <div>1. <a [routerLink]='["/login"]' class="btn btn-primary">Forms</a></div>
                <div>2. <a [routerLink]='["/reactive-login"]' class="btn btn-primary" style="margin-top: 5px;">Reactive Forms</a></div>
            </div>
				
		</div>
	</div>
</div>
